
#header{
    position: relative;
    z-index: 1;
    overflow: hidden;
    .header-text{
        max-width: 32rem;
        padding: 13rem 0px;
        color:var(--dark-color);

        h1{
            font-size: 55px;
            font-weight: 900;
            line-height: 1.1;
            color:var(--black);
        }
        p{
            font-size: 1.4rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            color:var(--dark-light-color);
        }
    }

    @media screen and (max-width:1000px) {
        #images-grid{
            bottom: -56%;
            top: auto;
            left:50%;
            right: auto;
            z-index: -1;
            transform: translateX(-50%);
            opacity: 0.9;
        }
        .header-text{
            max-width: 32rem;
            width: 95%;
            margin: auto;
            padding-top: 5rem;
            margin-bottom: 10rem;
            h1{
                font-size: 45px;
            }
            p{
                font-size: 18px;
            }
        }
    }
}

#images-grid{
    $card-width:176px;
    $card-height:256px;
    position: absolute;
    top:-2rem;
    left:55%;
    .images-grid-container{
        display: flex;
        width: 100%;
        width: ($card-width*3) + 60px;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        &>.col{
            display: flex;
            flex-flow: wrap column;
            row-gap: 25px;
            align-items: center;
        }
    }
    .grid-images-card{
        width: $card-width;
        overflow: hidden;
        border-radius: 20px;
        img{
            width: 100%;
            height: $card-height;
            object-fit: cover;
        }
    }
}

#service-fee{
    overflow: hidden;
    .service-fee__wrapper{
        .service-fee_image{
            position: absolute;
            bottom:0px;
            max-width: 240px;
            left:0px;
            filter: grayscale(0.5);
            z-index: -1;

            &.right{
                left: auto;
                right: 0px;;
            }
        }
    }

    @media screen and (max-width:776px) {
        .MuiTypography-h2{
            font-size: 40px;
        }
        .MuiTypography-body1{
            font-size: 15px;
            font-weight: 500;
        }
        .service-fee__wrapper{
            .service-fee_image{
                opacity: 0.3;
            }
        }
    }
}
body.dark{
    #service-fee{
        .service-fee__wrapper{
            background:rgb(40, 44, 51);
        }
    }
}

#all-collection{
    background:linear-gradient(white,rgb(231, 234, 236));
}

body.dark{
    #all-collection{
        background:linear-gradient(var(--light-color),rgb(37, 38, 44));
    }
}