@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
#header {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#header .header-text {
  max-width: 32rem;
  padding: 13rem 0px;
  color: var(--dark-color);
}

#header .header-text h1 {
  font-size: 55px;
  font-weight: 900;
  line-height: 1.1;
  color: var(--black);
}

#header .header-text p {
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--dark-light-color);
}

@media screen and (max-width: 1000px) {
  #header #images-grid {
    bottom: -56%;
    top: auto;
    left: 50%;
    right: auto;
    z-index: -1;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0.9;
  }
  #header .header-text {
    max-width: 32rem;
    width: 95%;
    margin: auto;
    padding-top: 5rem;
    margin-bottom: 10rem;
  }
  #header .header-text h1 {
    font-size: 45px;
  }
  #header .header-text p {
    font-size: 18px;
  }
}

#images-grid {
  position: absolute;
  top: -2rem;
  left: 55%;
}

#images-grid .images-grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  width: 588px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

#images-grid .images-grid-container > .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  row-gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#images-grid .grid-images-card {
  width: 176px;
  overflow: hidden;
  border-radius: 20px;
}

#images-grid .grid-images-card img {
  width: 100%;
  height: 256px;
  -o-object-fit: cover;
     object-fit: cover;
}

#service-fee {
  overflow: hidden;
}

#service-fee .service-fee__wrapper .service-fee_image {
  position: absolute;
  bottom: 0px;
  max-width: 240px;
  left: 0px;
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5);
  z-index: -1;
}

#service-fee .service-fee__wrapper .service-fee_image.right {
  left: auto;
  right: 0px;
}

@media screen and (max-width: 776px) {
  #service-fee .MuiTypography-h2 {
    font-size: 40px;
  }
  #service-fee .MuiTypography-body1 {
    font-size: 15px;
    font-weight: 500;
  }
  #service-fee .service-fee__wrapper .service-fee_image {
    opacity: 0.3;
  }
}

body.dark #service-fee .service-fee__wrapper {
  background: #282c33;
}

#all-collection {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e7eaec));
  background: linear-gradient(white, #e7eaec);
}

body.dark #all-collection {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--light-color)), to(#25262c));
  background: linear-gradient(var(--light-color), #25262c);
}

/* COMMENT : Navbar Code here */
#navbar {
  background: rgba(255, 255, 255, 0.274);
  -webkit-box-shadow: 0px 24px 34px rgba(0, 0, 0, 0.05), 0px 2px 19px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 24px 34px rgba(0, 0, 0, 0.05), 0px 2px 19px rgba(0, 0, 0, 0.13);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  padding: 10px;
  color: var(--dark-color);
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0px;
  left: 0px;
}

#navbar .navbar-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#navbar .navbar-item-container .navbar-searchBar {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#navbar .navbar-item-container .navbar-searchBar .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--light-overlay);
  border-radius: 5px;
  overflow: hidden;
  max-width: 32rem;
  width: 100%;
  background: var(--light-color);
  padding: 2px;
}

#navbar .navbar-item-container .navbar-searchBar .search-bar .search-bar__icon {
  padding: 5px 10px;
}

#navbar .navbar-item-container .navbar-searchBar .search-bar input {
  border: none;
  padding: 5px;
  width: 100%;
  font-size: 15px;
  background: var(--light-color);
}

#navbar .navbar-item-container .navbar-searchBar .search-bar input:focus {
  outline: none;
}

#navbar .navbar-item-container .navbar-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

#navbar .navbar-item-container .navbar-items li {
  list-style: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#navbar .navbar-item-container .navbar-items li a {
  display: inline-block;
  padding: 2px 3px;
  color: var(--dark-color);
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}

@media screen and (max-width: 776px) {
  #navbar .navbar-item-container .navbar-searchBar {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(51, 51, 51, 0.301);
    top: 0px;
    left: 0px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 100%;
  }
  #navbar .navbar-item-container .navbar-searchBar.active {
    -webkit-transform: scale(1);
            transform: scale(1);
    border-radius: 0;
  }
  #navbar .navbar-item-container .navbar-searchBar .search-bar {
    margin-top: 5rem;
    width: 90%;
    max-width: 32rem;
  }
}

body.dark #navbar {
  background: rgba(0, 0, 0, 0.541);
}

body.dark #navbar .navbar-item-container .navbar-searchBar .search-bar input {
  color: var(--dark-color);
}

#footer {
  background: var(--light-color);
}

.focus-dropdown {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.focus-dropdown.active .focus-dropdown__items {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  pointer-events: all;
}

.focus-dropdown .focus-dropdown__items {
  position: absolute;
  right: 0px;
  width: 170px;
  padding-top: 15px;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.focus-dropdown .focus-dropdown__items .focus-dropdown__items-wrapper {
  padding: 10px 0;
  background: var(--light-color);
  -webkit-box-shadow: 5px 5px 20px #dadada;
          box-shadow: 5px 5px 20px #dadada;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
}

.focus-dropdown .focus-dropdown__items .focus-dropdown__items-wrapper .focus-dropdown__item {
  padding: 7px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.focus-dropdown .focus-dropdown__items .focus-dropdown__items-wrapper .focus-dropdown__item:hover {
  background: #dddddd;
}

.focus-dropdown .focus-dropdown__items .focus-dropdown__items-wrapper .focus-dropdown__item img {
  width: 20px;
  margin-right: 10px;
}

#page2 {
  --theBlackCXolor: #000;
  --border: rgb(209, 213, 219);
  --borderandbtn: rgb(107, 114, 128);
  --whiteBoxBorder: rgb(243, 244, 246);
  --messageNumber: rgb(99, 102, 241);
  --littleDescColor: rgb(17, 24, 39);
  --searchBarBackground: #f3f4f6;
  --searchbarIconColors: rgb(116, 122, 135);
  --filterBorder: rgb(229, 231, 235);
  --acordionButtonColor: rgb(75, 85, 99);
  --pictureBoxColor: rgb(55, 65, 81);
}

#page2 * {
  margin: 0;
  padding: 0;
}

#page2 section.dape-header {
  margin-top: 60px;
}

#page2 section.dape-header img {
  width: 100%;
  -o-object-position: bottom;
     object-position: bottom;
  -o-object-fit: cover;
     object-fit: cover;
  height: 220px;
}

#page2 section.personal {
  padding: 0 30px;
}

#page2 section.personal .empty-box {
  width: 180px;
}

@media screen and (max-width: 720px) {
  #page2 section.personal .empty-box {
    display: none;
  }
}

#page2 section.personal .profile-img {
  width: 170px;
  height: 170px;
  margin: auto;
  border-radius: 50%;
}

#page2 section.personal .profile-img img {
  border: 2px solid var(--theBlackCXolor);
  width: 100%;
  border-radius: 50%;
  margin-top: -53%;
  -o-object-position: center;
     object-position: center;
}

#page2 section.personal .icon-boxes {
  width: 180px;
}

#page2 section.personal .icon-boxes .box-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page2 section.personal .icon-boxes .box-1 button {
  margin-top: 15px;
  background: none;
  border: 1px solid var(--border);
  padding: 8px 16px;
  border-radius: 5px 0 0 5px;
  color: var(--dark-color);
}

#page2 section.personal .icon-boxes .box-1 button:nth-child(2) {
  border-radius: 0px 5px 5px 0px;
}

#page2 section.personal .icon-boxes .box-1 button i {
  font-size: 18px;
  color: var(--borderandbtn);
}

#page2 section.personal .icon-boxes .box-1 button span {
  font-weight: 500;
  margin-left: 5px;
}

@media screen and (max-width: 720px) {
  #page2 section.personal .icon-boxes {
    display: none;
  }
}

#page2 section.personal .profile-info {
  margin-top: -80px;
}

#page2 section.personal .profile-info .profile-name {
  color: var(--dark-color);
}

#page2 section.personal .profile-info .profile-name h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

#page2 section.personal .profile-info .white-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: var(--dark-color);
}

#page2 section.personal .profile-info .white-boxes .box {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  padding: 14px 60px;
  border: 1px solid var(--whiteBoxBorder);
  border-radius: 6px;
  text-align: center;
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin: 15px 12px 0px 12px;
}

#page2 section.personal .profile-info .white-boxes .box dd {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0;
}

#page2 section.personal .profile-info .white-boxes .box span {
  font-size: 16px;
  color: var(--borderandbtn);
  font-weight: 300;
}

#page2 section.personal .profile-info .white-boxes .box:hover {
  -webkit-box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
          box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

#page2 section.personal .profile-info .little-description p {
  text-align: center;
  color: var(--littleDescColor);
  font-weight: 400;
  font-size: 18px;
  margin-top: 20px;
}

#page2 section.image-section {
  padding: 0 30px;
}

#page2 section.image-section .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#page2 section.image-section .contents .sidebar {
  width: 20%;
}

@media screen and (max-width: 940px) {
  #page2 section.image-section .contents .sidebar {
    display: none;
  }
}

#page2 section.image-section .contents .sidebar .accordion {
  border-right: 1px solid var(--light-color);
}

#page2 section.image-section .contents .sidebar .accordion .accordion-item {
  border-right: none;
  border-left: none;
  background: var(--whiteBoxBorder);
}

#page2 section.image-section .contents .sidebar .accordion .accordion-item .accordion-button {
  padding: 24px 20px;
  border-right: none;
  border-left: none;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: var(--acordionButtonColor);
  background: var(--searchBarBackground);
}

#page2 section.image-section .contents .sidebar .accordion .accordion-item .accordion-button .number {
  width: 20px;
  height: 20px;
  color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--messageNumber);
  margin-left: 20px;
}

#page2 section.image-section .contents .sidebar .accordion .accordion-item .accordion-body {
  padding: 20px;
}

#page2 section.image-section .contents .sidebar .accordion .accordion-item .accordion-body .the-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page2 section.image-section .contents .sidebar .accordion .accordion-item .accordion-body .the-line input {
  margin-right: 15px;
  width: 15px;
  height: 15px;
  color: var(--messageNumber);
  border-radius: 12px;
}

#page2 section.image-section .contents .sidebar .accordion .accordion-item .accordion-body .the-line span {
  color: var(--acordionButtonColor);
}

#page2 section.image-section .contents .main-bar {
  width: 77%;
}

#page2 section.image-section .contents .main-bar .search-bar {
  margin-top: 30px;
  padding: 12px 30px;
  background: var(--searchBarBackground);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--dark-color);
}

#page2 section.image-section .contents .main-bar .search-bar .side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page2 section.image-section .contents .main-bar .search-bar .side .filter {
  padding: 0px 15px;
  border-right: 1px solid var(--filterBorder);
}

#page2 section.image-section .contents .main-bar .search-bar .side .icon {
  color: var(--searchbarIconColors);
  color: var(--dark-color);
}

#page2 section.image-section .contents .main-bar .search-bar .side .search-icon {
  margin-right: 20px;
  color: var(--dark-color);
}

#page2 section.image-section .contents .main-bar .total-items span {
  font-weight: 500;
  color: var(--borderandbtn);
}

#page2 section.image-section .contents .main-bar .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
  overflow: scroll;
}

#page2 section.image-section .contents .main-bar .image-container::-webkit-scrollbar {
  display: none;
}

#page2 section.image-section .contents .main-bar .image-container .image-box {
  margin-bottom: 25px;
  width: 22%;
}

@media screen and (max-width: 940px) {
  #page2 section.image-section .contents .main-bar .image-container .image-box {
    width: 30%;
  }
}

@media screen and (max-width: 720px) {
  #page2 section.image-section .contents .main-bar .image-container .image-box {
    width: 48%;
  }
}

@media screen and (max-width: 450px) {
  #page2 section.image-section .contents .main-bar .image-container .image-box {
    width: 100%;
  }
}

#page2 section.image-section .contents .main-bar .image-container .image-box .img {
  border-radius: 12px;
  overflow: hidden;
}

#page2 section.image-section .contents .main-bar .image-container .image-box .img img {
  width: 100%;
}

#page2 section.image-section .contents .main-bar .image-container .image-box .text-line {
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 18px;
  color: var(--pictureBoxColor);
  font-weight: 500;
}

#page2 section.image-section .contents .main-bar .image-container .image-box .text-line .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#page2 section.image-section .contents .main-bar .image-container .image-box .text-line .line .name {
  margin-right: 10px;
}

body.dark #page2 {
  --theBlackCXolor: rgb(194, 194, 194);
  --border: rgb(193, 203, 218);
  --borderandbtn: rgb(181, 192, 207);
  --whiteBoxBorder: rgb(28, 35, 46);
  --messageNumber: rgb(134, 136, 230);
  --littleDescColor: rgb(129, 129, 129);
  --searchBarBackground: rgb(41, 47, 53);
  --searchbarIconColors: rgb(116, 122, 135);
  --filterBorder: rgb(71, 71, 71);
  --acordionButtonColor: rgb(195, 209, 230);
  --pictureBoxColor: rgb(167, 178, 197);
}

#page3 {
  --whiteColor: #fff;
  --textColor1: rgb(107, 114, 128);
  --offerBtnBg: rgb(238, 242, 255);
  --tableActiveBtn: rgb(67, 56, 202);
  --theBlackColor: #000;
  --longBorder: rgb(229, 231, 235);
  --smallBorderAndTxt: rgb(209, 213, 219);
  --tabActiveColor: rgb(79, 70, 229);
  --tabTxtColor: rgb(31, 41, 55);
  --tabBoldColor: rgb(17, 24, 39);
  --inActiveTabTxtColor: rgb(51, 51, 51);
}

#page3 section.code-video-page .top-part {
  margin-top: 80px;
}

#page3 section.code-video-page .top-part .left-side {
  width: 48%;
}

@media screen and (max-width: 720px) {
  #page3 section.code-video-page .top-part .left-side {
    width: 100%;
  }
}

#page3 section.code-video-page .top-part .left-side .main-image {
  border-radius: 10px;
  overflow: hidden;
}

#page3 section.code-video-page .top-part .left-side .main-image img {
  width: 100%;
}

#page3 section.code-video-page .top-part .right-side {
  width: 48%;
}

@media screen and (max-width: 720px) {
  #page3 section.code-video-page .top-part .right-side {
    width: 100%;
  }
}

#page3 section.code-video-page .top-part .right-side .about {
  width: 80%;
}

#page3 section.code-video-page .top-part .right-side .about span {
  font-size: 15px;
  color: var(--textColor1);
  font-weight: 400;
}

#page3 section.code-video-page .top-part .right-side .about .person-name {
  color: var(--textColor1);
}

#page3 section.code-video-page .top-part .right-side .about .person-name h2 {
  font-weight: bold;
}

#page3 section.code-video-page .top-part .right-side .offer {
  width: 80%;
}

#page3 section.code-video-page .top-part .right-side .offer .make-offer-btn {
  padding-bottom: 40px;
  border-bottom: 1px solid var(--longBorder);
}

#page3 section.code-video-page .top-part .right-side .offer .make-offer-btn button {
  padding: 12px 65px;
  background: var(--offerBtnBg);
  color: var(--tableActiveBtn);
  border: none;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 28px;
}

#page3 section.code-video-page .top-part .right-side .about-boxes {
  color: var(--theBlackColor);
  width: 100%;
  padding: 40px 0;
  border-bottom: 1px solid var(--longBorder);
}

#page3 section.code-video-page .top-part .right-side .about-boxes .box {
  margin: 5px;
  width: 150px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--textColor1);
}

#page3 section.code-video-page .top-part .right-side .about-boxes .box p {
  margin-bottom: 0;
  color: var(--textColor1);
  font-size: 14px;
  font-weight: 400;
}

#page3 section.code-video-page .bottom-part {
  margin-top: 10px;
  padding-bottom: 80px;
  border-bottom: 1px solid var(--smallBorderAndTxt);
}

#page3 section.code-video-page .bottom-part .details-tab {
  font-size: 15px;
}

#page3 section.code-video-page .bottom-part .details-tab nav button {
  border: none;
  color: var(--theBlackColor);
  font-weight: 500;
  padding: 20px 10px;
}

#page3 section.code-video-page .bottom-part .details-tab nav .active {
  background-color: var(--light-overlay);
  color: var(--tabActiveColor);
  border-bottom: 2px solid var(--tabActiveColor);
}

#page3 section.code-video-page .bottom-part .details-tab .tab-content {
  margin-top: 15px;
}

#page3 section.code-video-page .bottom-part .details-tab .tab-content p {
  color: var(--tabTxtColor);
  font-weight: 400;
}

#page3 section.code-video-page .bottom-part .details-tab .tab-content .about-list .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#page3 section.code-video-page .bottom-part .details-tab .tab-content .about-list .line dt {
  font-weight: 500;
  color: var(--tabBoldColor);
}

#page3 section.code-video-page .bottom-part .details-tab .tab-content .about-list .line dd {
  color: var(--textColor1);
}

#page3 section.code-video-page .bottom-part .details-table {
  border-radius: 8px;
  border: 1px solid var(--smallBorderAndTxt);
}

#page3 section.code-video-page .bottom-part .details-table .offer-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 20px;
  border-bottom: 1px solid var(--smallBorderAndTxt);
}

#page3 section.code-video-page .bottom-part .details-table .offer-line .icon {
  margin-right: 12px;
}

#page3 section.code-video-page .bottom-part .details-table .offer-line .icon i {
  font-size: 18px;
  color: var(--inActiveTabTxtColor);
}

#page3 section.code-video-page .bottom-part .details-table .offer-list {
  min-height: 176px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page3 section.code-video-page .bottom-part .details-table .offer-list .icon {
  font-size: 30px;
  color: var(--textColor1);
}

#page3 section.code-video-page .bottom-part .details-table .offer-list .no-offer h6 {
  font-size: 17px;
  color: var(--textColor1);
  font-weight: 400;
}

#page3 section.code-video-page .footer-table {
  margin-top: 40px;
  border: 1px solid var(--smallBorderAndTxt);
  border-radius: 8px;
  color: var(--theBlackColor);
}

#page3 section.code-video-page .footer-table .table-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid var(--smallBorderAndTxt);
  padding: 12px 25px;
}

#page3 section.code-video-page .footer-table .table-bar .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page3 section.code-video-page .footer-table .table-bar .left-side .icon {
  margin-right: 10px;
}

#page3 section.code-video-page .footer-table .table-bar .left-side .text span {
  font-weight: 500;
  color: var(--tabBoldColor);
}

#page3 section.code-video-page .footer-table .table-bar .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page3 section.code-video-page .footer-table .table-bar .right-side button {
  margin-left: 20px;
  border: none;
  padding: 2px 10px;
  color: var(--whiteColor);
  font-weight: 400;
  background: var(--tabActiveColor);
  border-radius: 7px;
  margin: 3px;
}

#page3 section.code-video-page .footer-table .table-bar .right-side button i {
  margin-right: 5px;
  font-size: 14px;
}

#page3 section.code-video-page .footer-table .table-bar .right-side .active {
  background: var(--whiteColor);
  border: 1px solid var(--smallBorderAndTxt);
  color: var(--textColor1);
}

#page3 section.code-video-page .footer-table .table-bar .right-side .refresh {
  padding: 5px 25px;
}

#page3 section.code-video-page .footer-table .theTable {
  height: 350px;
  overflow: scroll;
}

#page3 section.code-video-page .footer-table .theTable table {
  width: 100%;
}

#page3 section.code-video-page .footer-table .theTable table th {
  font-weight: 400;
  color: var(--textColor1);
}

#page3 section.code-video-page .footer-table .theTable table th, #page3 section.code-video-page .footer-table .theTable table td {
  padding: 12px 18px;
  border-bottom: 1px solid var(--smallBorderAndTxt);
}

#page3 section.code-video-page .footer-table .theTable table th .event, #page3 section.code-video-page .footer-table .theTable table td .event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page3 section.code-video-page .footer-table .theTable table th .event i, #page3 section.code-video-page .footer-table .theTable table td .event i {
  margin-right: 15px;
}

#page3 section.code-video-page .footer-table .theTable table th .img-box, #page3 section.code-video-page .footer-table .theTable table td .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page3 section.code-video-page .footer-table .theTable table th .img-box img, #page3 section.code-video-page .footer-table .theTable table td .img-box img {
  width: 50px;
  margin-right: 5px;
  border-radius: 6px;
}

#page3 section.code-video-page .footer-table .theTable table th .img-box img .name, #page3 section.code-video-page .footer-table .theTable table td .img-box img .name {
  font-size: 14px;
}

#page3 section.code-video-page .footer-table .theTable table th a, #page3 section.code-video-page .footer-table .theTable table td a {
  text-decoration: none;
}

body.dark #page3 {
  --whiteColor: rgb(22, 22, 22);
  --textColor1: rgb(214, 215, 218);
  --offerBtnBg: rgb(219, 221, 255);
  --tableActiveBtn: rgb(53, 48, 48);
  --theBlackColor: rgb(218, 219, 226);
  --longBorder: rgb(155, 155, 155);
  --smallBorderAndTxt: rgb(71, 71, 71);
  --tabActiveColor: rgb(120, 115, 218);
  --tabTxtColor: rgb(226, 226, 226);
  --tabBoldColor: rgb(196, 203, 216);
  --inActiveTabTxtColor: rgb(218, 218, 218);
}

* {
  font-family: "Inter", sans-serif !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --light-color: white;
  --dark-color: #111827;
  --dark-light-color: rgb(148, 152, 161);
  --light-overlay: rgb(211, 211, 211);
  --black: black;
}

body.dark {
  background: #15191f;
  --light-color: #15191f;
  --black: rgb(198, 207, 216);
  --dark-color: rgb(207, 210, 224);
  --dark-light-color: rgb(133, 133, 133);
  --light-overlay: rgb(34, 38, 43);
}

.MuiTypography-root {
  color: var(--dark-color) !important;
}

.text-dark {
  color: var(--dark-color) !important;
}

@media screen and (min-width: 1080px) {
  .container-xxl {
    padding: 0px 4rem;
  }
}

.theme-btn {
  background: var(--dark-color);
  color: var(--light-color);
  padding: 10px 25px;
  border: none;
}

.theme-btn:hover {
  background: #576177 !important;
}
/*# sourceMappingURL=globals.css.map */